In [187]:
print("DISTRICT SUMMARY")

DISTRICT SUMMARY

In [175]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [176]:
#calculate the total number of schools
total_number_of_schools = school_data_complete["school_name"].value_counts().count()
total_number_of_schools

15

In [177]:
#calculate the total number of students
total_number_of_students = school_data_complete["student_name"].value_counts().count()
total_number_of_students

32715

In [178]:
#calculate the total budget
total_budget = school_data_complete["budget"].unique().sum()
total_budget

24649428

In [179]:
#calculate the average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [180]:
#calculate the average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [181]:
#calculate the percentage of students with a passing math score (70 or greater)
passing_math = school_data_complete.loc[school_data_complete["math_score"] > 70,("math_score")].count() / school_data_complete["math_score"].count() * 100
passing_math

72.39213683941792

In [182]:
#calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = school_data_complete.loc[school_data_complete["reading_score"] > 70,("reading_score")].count() / school_data_complete["reading_score"].count() * 100
passing_reading

82.97166198621395

In [183]:
#calculate the percentage of students who passed math and reading (% overall passing)
math_and_reading = school_data_complete.loc[(school_data_complete["math_score"] > 70) & 
                                            (school_data_complete["reading_score"] > 70), ("math_score")].count() 
passing_math_and_reading = math_and_reading / school_data_complete["student_name"].count() * 100
passing_math_and_reading

60.801633903497574

In [184]:
#create a dataframe to hold the above results
district_summary = pd.DataFrame({"Total Number of Schools": [total_number_of_schools],
                                "Total Number of Students": [total_number_of_students],
                                "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_score],
                                 "Average Reading Score": [average_reading_score],
                                 "Percent Students Passing Math": [passing_math],
                                 "Percent Students Passing Reading": [passing_reading],
                                 "Percent Overall Passing": [passing_math_and_reading]
                                })
district_summary

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Percent Students Passing Math,Percent Students Passing Reading,Percent Overall Passing
0,15,32715,24649428,78.985371,81.87784,72.392137,82.971662,60.801634

In [185]:
#optional: give the displayed data cleaner formatting
district_summary["Total Budget"] = district_summary["Total Budget"].astype(float).map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.1f}%".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.1f}%".format)
district_summary["Percent Students Passing Math"] = district_summary["Percent Students Passing Math"].map("{:.1f}%".format)
district_summary["Percent Students Passing Reading"] = district_summary["Percent Students Passing Reading"].map("{:.1f}%".format)
district_summary["Percent Overall Passing"] = district_summary["Percent Overall Passing"].map("{:.1f}%".format)
district_summary["Total Number of Students"] = district_summary["Total Number of Students"].map("{:,}".format)
district_summary

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Percent Students Passing Math,Percent Students Passing Reading,Percent Overall Passing
0,15,"32,715","$24,649,428.00",79.0%,81.9%,72.4%,83.0%,60.8%

In [192]:
print("SCHOOL SUMMARY")

SCHOOL SUMMARY

In [193]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [196]:
school_name = school_data_complete["school_name"].unique()
school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [ ]:
school_type = school_data_complete.loc[school_data_complete["school_name"]