In [1]:
print("DISTRICT SUMMARY")

DISTRICT SUMMARY

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#calculate the total number of schools
total_number_of_schools = school_data_complete["school_name"].value_counts().count()
total_number_of_schools

15

In [4]:
#calculate the total number of students
total_number_of_students = school_data_complete["student_name"].count()
total_number_of_students

39170

In [5]:
#calculate the total budget
total_budget = school_data_complete["budget"].unique().sum()
total_budget

24649428

In [6]:
#calculate the average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [7]:
#calculate the average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [8]:
#calculate the percentage of students with a passing math score (70 or greater)
passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70,("math_score")].count() / school_data_complete["math_score"].count() * 100
passing_math

74.9808526933878

In [9]:
#calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70,("reading_score")].count() / school_data_complete["reading_score"].count() * 100
passing_reading

85.80546336482001

In [10]:
#calculate the percentage of students who passed math and reading (% overall passing)
math_and_reading = school_data_complete.loc[(school_data_complete["math_score"] >= 70) & 
                                            (school_data_complete["reading_score"] >= 70), ("math_score")].count() 
passing_math_and_reading = math_and_reading / school_data_complete["student_name"].count() * 100
passing_math_and_reading

65.17232575950983

In [11]:
#create a dataframe to hold the above results
district_summary = pd.DataFrame({"Total Number of Schools": [total_number_of_schools],
                                "Total Number of Students": [total_number_of_students],
                                "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_score],
                                 "Average Reading Score": [average_reading_score],
                                 "Percent Students Passing Math": [passing_math],
                                 "Percent Students Passing Reading": [passing_reading],
                                 "Percent Overall Passing": [passing_math_and_reading]
                                })
district_summary

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Percent Students Passing Math,Percent Students Passing Reading,Percent Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [12]:
#optional: give the displayed data cleaner formatting
district_summary["Total Budget"] = district_summary["Total Budget"].astype(float).map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.1f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.1f}".format)
district_summary["Percent Students Passing Math"] = district_summary["Percent Students Passing Math"].map("{:.1f}%".format)
district_summary["Percent Students Passing Reading"] = district_summary["Percent Students Passing Reading"].map("{:.1f}%".format)
district_summary["Percent Overall Passing"] = district_summary["Percent Overall Passing"].map("{:.1f}%".format)
district_summary["Total Number of Students"] = district_summary["Total Number of Students"].map("{:,}".format)
district_summary

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Percent Students Passing Math,Percent Students Passing Reading,Percent Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75.0%,85.8%,65.2%

In [13]:
print("SCHOOL SUMMARY")

SCHOOL SUMMARY

In [14]:
# grouping by school_name
school_group = school_data_complete.groupby(["school_name"])
school_group.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [16]:
# school type
school_type = school_group["type"].first()
school_type

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [17]:
# total students per school
school_size = school_group.size()
school_size

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [15]:
# total school budget per school
school_budget = school_group["budget"].first()
school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [18]:
# per student budget per school
per_student_budget = school_budget / school_size
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [19]:
# average math scores per school
avg_math_score = school_group["math_score"].mean()
avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [20]:
# average reading scores per school
avg_reading_score = school_group["reading_score"].mean()
avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [21]:
# percent of students passing math per school
percent_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby(["school_name"]).count()["Student ID"]
pass_percent_math = (percent_math / school_size) * 100
pass_percent_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [22]:
# percent of students passing reading per school
percent_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(["school_name"]).count()["Student ID"]
pass_percent_reading = (percent_reading / school_size) * 100
pass_percent_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [23]:
# percent of students passing math and reading per school
percent_overall = school_data_complete[(school_data_complete["math_score"] >= 70) & 
                                       (school_data_complete["reading_score"] >= 70)].groupby(["school_name"]).count()["Student ID"]
pass_overall = (percent_overall / school_size) * 100
pass_overall

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [24]:
# create a dataframe holding the above results
school_summary_df = pd.DataFrame({"School Type": school_type, 
                                  "Total Students": school_size, 
                                  "Total School Budget": school_budget,
                                 "Per Student Budget": per_student_budget, 
                                  "Average Math Score": avg_math_score, 
                                  "Average Reading Score": avg_reading_score,
                                 "% Passing Math": pass_percent_math, 
                                  "% Passing Reading": pass_percent_reading,
                                  "% Overall Passing": pass_overall
                                 })
school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [25]:
# formatting for school_summary_df
school_summary_df.index = school_summary_df.index.rename('')
school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format)
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].astype(float).map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].astype(float).map("${:,.2f}".format)
school_summary_df["Average Math Score"] = school_summary_df["Average Math Score"].map("{:.2f}".format)
school_summary_df["Average Reading Score"] = school_summary_df["Average Reading Score"].map("{:.2f}".format)
school_summary_df["% Passing Math"] = school_summary_df["% Passing Math"].map("{:.2f}%".format)
school_summary_df["% Passing Reading"] = school_summary_df["% Passing Reading"].map("{:.2f}%".format)
school_summary_df["% Overall Passing"] = school_summary_df["% Overall Passing"].map("{:.2f}%".format)
school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%

In [26]:
# top performing schools by overall percent
top_performing = school_summary_df.sort_values(["% Overall Passing"], ascending = False).head()
top_performing

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

In [27]:
# bottom performing schools by overall percent
bottom_performing = school_summary_df.sort_values(["% Overall Passing"]).head()
bottom_performing

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

In [28]:
# create a pandas series for each grade and group each series by school
nineth_grade = student_data[student_data["grade"] == "9th"].groupby(["school_name"]).mean()["math_score"]
tenth_grade = student_data[student_data["grade"] == "10th"].groupby(["school_name"]).mean()["math_score"]
eleventh_grade = student_data[student_data["grade"] == "11th"].groupby(["school_name"]).mean()["math_score"]
twelveth_grade = student_data[student_data["grade"] == "12th"].groupby(["school_name"]).mean()["math_score"]

In [29]:
# combine the series into a dataframe
avg_math_grade_df = pd.DataFrame ({"9th": nineth_grade,
                                   "10th": tenth_grade,
                                   "11th": eleventh_grade,
                                   "12th": twelveth_grade
})
avg_math_grade_df.head()

                            9th       10th       11th       12th
school_name
Bailey High School    77.083676  76.996772  77.515588  76.492218
Cabrera High School   83.094697  83.154506  82.765560  83.277487
Figueroa High School  76.403037  76.539974  76.884344  77.151369
Ford High School      77.361345  77.672316  76.918058  76.179963
Griffin High School   82.044010  84.229064  83.842105  83.356164

In [30]:
# formatting for avg_math_grade_df
avg_math_grade_df.index = avg_math_grade_df.index.rename('')
avg_math_grade_df["9th"] = avg_math_grade_df["9th"].map("{:.2f}".format)
avg_math_grade_df["10th"] = avg_math_grade_df["10th"].map("{:.2f}".format)
avg_math_grade_df["11th"] = avg_math_grade_df["11th"].map("{:.2f}".format)
avg_math_grade_df["12th"] = avg_math_grade_df["12th"].map("{:.2f}".format)
avg_math_grade_df.head()

                        9th   10th   11th   12th

Bailey High School    77.08  77.00  77.52  76.49
Cabrera High School   83.09  83.15  82.77  83.28
Figueroa High School  76.40  76.54  76.88  77.15
Ford High School      77.36  77.67  76.92  76.18
Griffin High School   82.04  84.23  83.84  83.36

In [31]:
# create a pandas series for each grade and group each series by school
nineth_grade_r = student_data[student_data["grade"] == "9th"].groupby(["school_name"]).mean()["reading_score"]
tenth_grade_r = student_data[student_data["grade"] == "10th"].groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_r = student_data[student_data["grade"] == "11th"].groupby(["school_name"]).mean()["reading_score"]
twelveth_grade_r = student_data[student_data["grade"] == "12th"].groupby(["school_name"]).mean()["reading_score"]

In [32]:
# combine the series into a dataframe
avg_read_grade_df = pd.DataFrame ({"9th": nineth_grade_r,
                                   "10th": tenth_grade_r,
                                   "11th": eleventh_grade_r,
                                   "12th": twelveth_grade_r
})
avg_read_grade_df.head()

                            9th       10th       11th       12th
school_name
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

In [33]:
# formatting for avg_reading_grade_df
avg_read_grade_df.index = avg_read_grade_df.index.rename('')
avg_read_grade_df["9th"] = avg_read_grade_df["9th"].map("{:.2f}".format)
avg_read_grade_df["10th"] = avg_read_grade_df["10th"].map("{:.2f}".format)
avg_read_grade_df["11th"] = avg_read_grade_df["11th"].map("{:.2f}".format)
avg_read_grade_df["12th"] = avg_read_grade_df["12th"].map("{:.2f}".format)
avg_read_grade_df.head()

                        9th   10th   11th   12th

Bailey High School    81.30  80.91  80.95  80.91
Cabrera High School   83.68  84.25  83.79  84.29
Figueroa High School  81.20  81.41  80.64  81.38
Ford High School      80.63  81.26  80.40  80.66
Griffin High School   83.37  83.71  84.29  84.01

In [34]:
# bins and group_names for scores by school spending
bins = (0, 585, 630, 645, 680)
group_names = ("<$585", "$585-630", "$630-645", "$645-680")

In [35]:
# average scores by school spending per student
school_summary_df['Spending Ranges (Per Student)'] = pd.cut(school_summary_df['Per Student Budget'], bins, labels = group_names, include_lowest = True)
spend_summary_df = school_summary_df.groupby(['Spending Ranges (Per Student)'])
spend_summary_df = spend_summary_df[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']].mean()
spend_summary_df

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
# formatting for spend_summary_df 
spend_summary_df["Average Math Score"] = spend_summary_df["Average Math Score"].map("{:.2f}".format)
spend_summary_df["Average Reading Score"] = spend_summary_df["Average Reading Score"].map("{:.2f}".format)
spend_summary_df["% Passing Math"] = spend_summary_df["% Passing Math"].map("{:.2f}%".format)
spend_summary_df["% Passing Reading"] = spend_summary_df["% Passing Reading"].map("{:.2f}%".format)
spend_summary_df["% Overall Passing"] = spend_summary_df["% Overall Passing"].map("{:.2f}%".format)
spend_summary_df

In [ ]:
# bins and group_names for scores by school size
bins1 = (0, 1000, 2000, 5000)
group_names_1 = ("Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)")

In [ ]:
# average scores by school size
school_summary_df['School Size'] = pd.cut(school_summary_df['Total Students'], bins1, labels = group_names_1, include_lowest = True)

size_summary_df = school_summary_df.groupby(['School Size'])

size_summary_df = size_summary_df[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']].mean()

size_summary_df

In [ ]:
# formatting for size_summary_df
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.2f}".format)
size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.2f}".format)
size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.2f}%".format)
size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.2f}%".format)
size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.2f}%".format)
size_summary_df

In [ ]:
# averages scores by school type
type_summary_df = school_summary_df.groupby(['School Type'])

type_summary_df = type_summary_df[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']].mean()

type_summary_df

In [ ]:
# formatting for type_summary_df
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.2f}".format)
type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.2f}".format)
type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.2f}%".format)
type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.2f}%".format)
type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.2f}%".format)
type_summary_df