In [1]:
print("DISTRICT SUMMARY")

DISTRICT SUMMARY

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#calculate the total number of schools
total_number_of_schools = school_data_complete["school_name"].value_counts().count()
total_number_of_schools

15

In [4]:
#calculate the total number of students
total_number_of_students = school_data_complete["student_name"].count()
total_number_of_students

39170

In [5]:
#calculate the total budget
total_budget = school_data_complete["budget"].unique().sum()
total_budget

24649428

In [6]:
#calculate the average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [7]:
#calculate the average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [8]:
#calculate the percentage of students with a passing math score (70 or greater)
passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70,("math_score")].count() / school_data_complete["math_score"].count() * 100
passing_math

74.9808526933878

In [9]:
#calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70,("reading_score")].count() / school_data_complete["reading_score"].count() * 100
passing_reading

85.80546336482001

In [10]:
#calculate the percentage of students who passed math and reading (% overall passing)
math_and_reading = school_data_complete.loc[(school_data_complete["math_score"] >= 70) & 
                                            (school_data_complete["reading_score"] >= 70), ("math_score")].count() 
passing_math_and_reading = math_and_reading / school_data_complete["student_name"].count() * 100
passing_math_and_reading

65.17232575950983

In [11]:
#create a dataframe to hold the above results
district_summary = pd.DataFrame({"Total Number of Schools": [total_number_of_schools],
                                "Total Number of Students": [total_number_of_students],
                                "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_score],
                                 "Average Reading Score": [average_reading_score],
                                 "Percent Students Passing Math": [passing_math],
                                 "Percent Students Passing Reading": [passing_reading],
                                 "Percent Overall Passing": [passing_math_and_reading]
                                })
district_summary

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Percent Students Passing Math,Percent Students Passing Reading,Percent Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [12]:
#optional: give the displayed data cleaner formatting
district_summary["Total Budget"] = district_summary["Total Budget"].astype(float).map("${:,.2f}".format)
# district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.1f}%".format)
# district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.1f}%".format)
district_summary["Percent Students Passing Math"] = district_summary["Percent Students Passing Math"].map("{:.1f}%".format)
district_summary["Percent Students Passing Reading"] = district_summary["Percent Students Passing Reading"].map("{:.1f}%".format)
district_summary["Percent Overall Passing"] = district_summary["Percent Overall Passing"].map("{:.1f}%".format)
district_summary["Total Number of Students"] = district_summary["Total Number of Students"].map("{:,}".format)
district_summary

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Percent Students Passing Math,Percent Students Passing Reading,Percent Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,75.0%,85.8%,65.2%

In [13]:
print("SCHOOL SUMMARY")

SCHOOL SUMMARY

In [14]:
school_group = school_data_complete.groupby(["school_name"])
school_group.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [15]:
school_budget = school_group["budget"].first()
school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [16]:
school_type = school_group["type"].first()
school_type

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [17]:
school_size = school_group.size()
school_size

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [18]:
per_student_budget = school_budget / school_size
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [19]:
avg_math_score = school_group["math_score"].mean()
avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [20]:
avg_reading_score = school_group["reading_score"].mean()
avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [21]:
percent_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby(["school_name"]).count()["Student ID"]
pass_percent_math = (percent_math / school_size) * 100
pass_percent_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [22]:
percent_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(["school_name"]).count()["Student ID"]
pass_percent_reading = (percent_reading / school_size) * 100
pass_percent_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [23]:
percent_overall = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].groupby(["school_name"]).count()["Student ID"]
pass_overall = (percent_overall / school_size) * 100
pass_overall

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [24]:
school_summary_df = pd.DataFrame({"School Type": school_type, 
                                  "Total Students": school_size, 
                                  "Total School Budget": school_budget,
                                 "Per Student Budget": per_student_budget, 
                                  "Average Math Score": avg_math_score, 
                                  "Average Reading Score": avg_reading_score,
                                 "% Passing Math": pass_percent_math, 
                                  "% Passing Reading": pass_percent_reading,
                                  "% Overall Passing": pass_overall
                                 })
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [26]:
school_summary_df.index = school_summary_df.index.rename('')
school_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
school_summary["Total School Budget"] = district_summary["Total School Budget"].astype(float).map("${:,.2f}".format)
school_summary["Per Student Budget"] = district_summary["Per Student Budget"].astype(float).map("${:,.2f}".format)
school_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.2f}%".format)
school_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.2f}%".format)
school_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:.2f}%".format)
school_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.2f}%".format)
school_summary["% Overall Passing"] = school_summary["% Overall Passing"].map("{:.2f}%".format)
school_summary.head()

KeyError: 'Total School Budget'